html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#siteNav .logo {
  display: inline-block;
  background-image: url("sprites.png");
}
.font-regular,
.open-large-grey,
.open-medium-grey,
.open-small-regular,
button,
.btn,
#heroArea .headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-bold,
.open-small-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open-large-grey {
  font-size: 3.7rem;
  color: #8899a7;
}
.open-medium-grey {
  font-size: 2.2rem;
  color: #8899a7;
}
.open-large-grey {
  font-size: 1.5rem;
  color: #8899a7;
}
.open-small-bold {
  font-size: 1.3rem;
  color: #4c545a;
}
.open-small-regular {
  font-size: 1.3rem;
  color: #4c545a;
}
h1 {
  font-size: 3.7rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
button,
.btn {
  font-size: 1.5rem;
  color: #007ee5;
  background: #fff;
  padding: 1.1rem 1.7rem;
  border: 0.1rem solid #007ee5;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
button:hover,
.btn:hover {
  background: #0b56bc;
  color: #fff;
  cursor: pointer;
}
button.btn-large,
.btn.btn-large {
  padding: 2rem 9.6rem;
  border: 0.2rem solid #0b56bc;
  font-size: 1.7rem;
}
button.btn-blue,
.btn.btn-blue {
  background: #007ee5;
  color: #fff;
}
button.btn-blue:hover,
.btn.btn-blue:hover {
  background: #0b56bc;
}
button.fade,
.btn.fade {
  -webkit-transition: background 0.3s, color 0.1s;
  -moz-transition: background 0.3s, color 0.1s;
  -o-transition: background 0.3s, color 0.1s;
  -ms-transition: background 0.3s, color 0.1s;
  transition: background 0.3s, color 0.1s;
}
.stack-full-width {
  position: relative;
  width: 100%;
}
.stack-full-width .row {
  position: relative;
  width: 105rem;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}
.stack-full-width .row:after {
  display: block;
  content: "\0020";
  clear: both;
  height: 0;
  visibility: hidden;
}
.row .col {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin-right: 3rem;
}
.row .col:first-of-type {
  margin-left: 3rem;
}
.row .col.one {
  width: 5.5rem;
}
.row .col.two {
  width: 14rem;
}
.row .col.three {
  width: 22.5rem;
}
.row .col.four {
  width: 31rem;
}
.row .col.five {
  width: 39.5rem;
}
.row .col.six {
  width: 48rem;
}
.row .col.seven {
  width: 56.5rem;
}
.row .col.eight {
  width: 65rem;
}
.row .col.nine {
  width: 73.5rem;
}
.row .col.ten {
  width: 82rem;
}
.row .col.eleven {
  width: 90.5rem;
}
.row .col.twelve {
  width: 99rem;
}
*,
*:before,
*:after {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-size: 1rem;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; /* 10px browser default */
}
p {
  margin: 1rem 0;
  line-height: 1.6;
}
.center {
  text-align: center;
}
#heroArea {
  background: #007ee5;
  padding: 11.9rem 0 16rem 0;
  color: #fff;
  overflow: hidden;
}
#heroArea .animation-intro {
  background: url("img/dropbox-for-business-files.png") repeat-x center;
  -webkit-background-size: 1050px 696px;
  -moz-background-size: 1050px 696px;
  background-size: 1050px 696px;
  position: absolute;
  top: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  min-height: 100%;
}
#heroArea .animation-intro.animate {
  -webkit-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -moz-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -o-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -ms-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  animation: HERO-INTRO 1.5s 0.5s 1 forwards;
}
#heroArea .try-it-free {
  margin: 1rem 0;
}
#heroArea .or {
  color: #8ac7e7;
}
#heroArea .buy-it {
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .animation-intro {
    background-image: url("img/dropbox-for-business-files@2x.png");
  }
}
@-moz-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@-webkit-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@-o-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
#siteNav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#siteNav .logo {
  margin: 5rem 0 2.5rem;
  width: 36px;
  height: 34px;
  background-position: -306px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#siteNav li {
  margin: 1.5rem 0;
}
#siteNav li a {
  color: #fff;
  text-decoration: none;
}
#siteNav li a.active {
  font-weight: 700;
}
