html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#footer .globe,
#siteNav .logo,
#dropboxBusiness .business-window .business-power,
#dropboxBusiness .business-window .business-security,
#dropboxBusiness .business-window .business-investment,
#doForTeam .arrow .icn-arrow-left,
#doForTeam .arrow .icn-arrow-right,
#videoArea .play-btn,
.menu-container .menu-icon {
  display: inline-block;
  background-image: url("sprites.png");
}
.font-regular,
.open-large-grey,
.open-medium-grey,
.open-small-regular,
button,
.btn,
#footer .footer-nav li,
#footer .footer-nav .language-column,
#heroArea .headline,
#dropboxBusiness .why-business-description,
#doForTeam .team-description,
#teamSync .buy-it-now {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.font-bold,
.open-small-bold,
#footer .footer-nav li.nav-title,
#siteNav li a.active,
.menu-container .menu-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open-large-grey,
#dropboxBusiness .why-business-description,
#doForTeam .team-description,
#teamSync .buy-it-now {
  font-size: 3.7rem;
  color: #8899a7;
}
.open-medium-grey {
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #8899a7;
}
.open-large-grey,
#dropboxBusiness .why-business-description,
#doForTeam .team-description,
#teamSync .buy-it-now {
  font-size: 1.5rem;
  color: #8899a7;
}
.open-small-bold,
#footer .footer-nav li.nav-title {
  font-size: 1.3rem;
  color: #4c545a;
}
.open-small-regular,
#footer .footer-nav li,
#footer .footer-nav .language-column {
  font-size: 1.3rem;
  color: #4c545a;
}
h1 {
  font-size: 3.7rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
button,
.btn {
  font-size: 1.5rem;
  color: #007ee5;
  background: #fff;
  padding: 1.1rem 1.7rem;
  border: 0.1rem solid #007ee5;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
button:hover,
.btn:hover {
  background: #f4faff;
  cursor: pointer;
}
button.btn-large,
.btn.btn-large {
  padding: 2rem 9.6rem;
  border: 0.2rem solid #0b56bc;
  font-size: 1.7rem;
}
button.btn-blue,
.btn.btn-blue {
  background: #007ee5;
  color: #fff;
}
button.btn-blue:hover,
.btn.btn-blue:hover {
  background: #0b56bc;
}
button.fade,
.btn.fade {
  -webkit-transition: background 0.3s, color 0.1s;
  -moz-transition: background 0.3s, color 0.1s;
  -o-transition: background 0.3s, color 0.1s;
  -ms-transition: background 0.3s, color 0.1s;
  transition: background 0.3s, color 0.1s;
}
.stack-full-width {
  position: relative;
  width: 100%;
}
.stack-full-width .row {
  position: relative;
  vertical-align: top;
  width: 105rem;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}
.stack-full-width .row:after {
  display: block;
  content: "\0020";
  clear: both;
  height: 0;
  visibility: hidden;
}
.row .col {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin-right: 3rem;
  vertical-align: top;
}
.row .col:first-of-type {
  margin-left: 3rem;
}
.row .col.one {
  width: 5.5rem;
}
.row .col.two {
  width: 14rem;
}
.row .col.three {
  width: 22.5rem;
}
.row .col.four {
  width: 31rem;
}
.row .col.five {
  width: 39.5rem;
}
.row .col.six {
  width: 48rem;
}
.row .col.seven {
  width: 56.5rem;
}
.row .col.eight {
  width: 65rem;
}
.row .col.nine {
  width: 73.5rem;
}
.row .col.ten {
  width: 82rem;
}
.row .col.eleven {
  width: 90.5rem;
}
.row .col.twelve {
  width: 99rem;
}
@media all and (max-width: 1049px) and (min-width: 900px) {
  .stack-full-width .row {
    width: 90rem;
  }
  .stack-full-width .row .col.one {
    width: 4.125rem;
  }
  .stack-full-width .row .col.two {
    width: 10.5rem;
  }
  .stack-full-width .row .col.three {
    width: 16.875rem;
  }
  .stack-full-width .row .col.four {
    width: 23.25rem;
  }
  .stack-full-width .row .col.five {
    width: 29.625rem;
  }
  .stack-full-width .row .col.six {
    width: 36rem;
  }
  .stack-full-width .row .col.seven {
    width: 42.375rem;
  }
  .stack-full-width .row .col.eight {
    width: 48.75rem;
  }
  .stack-full-width .row .col.nine {
    width: 55.125rem;
  }
  .stack-full-width .row .col.ten {
    width: 61.5rem;
  }
  .stack-full-width .row .col.eleven {
    width: 67.875rem;
  }
  .stack-full-width .row .col.twelve {
    width: 74.25rem;
  }
}
#footer {
  padding: 6.5rem 0;
  background: #fff;
}
#footer .footer-nav li {
  margin: 1rem 0;
}
#footer .footer-nav li a {
  text-decoration: none;
  color: #8899a7;
}
#footer .footer-nav .language-column {
  margin-left: 0;
  padding-top: 0.5rem;
}
#footer .globe {
  width: 17px;
  height: 17px;
  background-position: -306px -216px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
  margin: 0 0.4rem -0.3rem 0;
}
#footer .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #8899a7;
  margin: 0 0 0.2rem 0.4rem;
}
*,
*:before,
*:after {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-size: 1rem;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; /* 10px browser default */
}
p {
  margin: 1rem 0;
  line-height: 1.6;
}
.center {
  text-align: center;
}
.contents-right {
  text-align: right;
}
#heroArea {
  background: #007ee5;
  padding: 11.9rem 0 16rem 0;
  color: #fff;
  overflow: hidden;
}
#heroArea .animation-intro {
  background: url("img/dropbox-for-business-files.png") repeat-x center;
  -webkit-background-size: 1050px 696px;
  -moz-background-size: 1050px 696px;
  background-size: 1050px 696px;
  position: absolute;
  top: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  min-height: 100%;
}
#heroArea .animation-intro.animate {
  -webkit-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -moz-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -o-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  -ms-animation: HERO-INTRO 1.5s 0.5s 1 forwards;
  animation: HERO-INTRO 1.5s 0.5s 1 forwards;
}
#heroArea .try-it-free {
  margin: 1rem 0;
}
#heroArea .or {
  color: #8ac7e7;
}
#heroArea .buy-it {
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .animation-intro {
    background-image: url("img/dropbox-for-business-files@2x.png");
  }
}
@-moz-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@-webkit-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@-o-keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
@keyframes HERO-INTRO {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 100%;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 0;
  }
}
#siteNav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#siteNav .logo {
  margin: 5rem 0 2.5rem;
  width: 36px;
  height: 34px;
  background-position: -306px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#siteNav li {
  margin: 1.5rem 0;
}
#siteNav li a {
  color: #fff;
  text-decoration: none;
}
.menu-container {
  display: none;
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 10;
  font-size: 1.6rem;
}
.menu-container .menu-label {
  position: absolute;
  top: 0.2rem;
  left: 3.5rem;
}
.site-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.site-wrap.opened {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
#dropboxBusiness {
  padding: 7.8rem 0 5.9rem;
  background: #fff;
  border-bottom: 1px solid #8899a7;
}
#dropboxBusiness .business-window {
  display: inline-block;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}
#dropboxBusiness .business-window .business-power,
#dropboxBusiness .business-window .business-security,
#dropboxBusiness .business-window .business-investment {
  -webkit-transform: translate3d(-22rem, 0, 0) scale(0.5);
  -moz-transform: translate3d(-22rem, 0, 0) scale(0.5);
  -o-transform: translate3d(-22rem, 0, 0) scale(0.5);
  -ms-transform: translate3d(-22rem, 0, 0) scale(0.5);
  transform: translate3d(-22rem, 0, 0) scale(0.5);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#dropboxBusiness .business-window .business-power.animate,
#dropboxBusiness .business-window .business-security.animate,
#dropboxBusiness .business-window .business-investment.animate {
  -webkit-animation: BUSINESS_TRANSITION_IN 0.55s 1 forwards;
  -moz-animation: BUSINESS_TRANSITION_IN 0.55s 1 forwards;
  -o-animation: BUSINESS_TRANSITION_IN 0.55s 1 forwards;
  -ms-animation: BUSINESS_TRANSITION_IN 0.55s 1 forwards;
  animation: BUSINESS_TRANSITION_IN 0.55s 1 forwards;
}
#dropboxBusiness .business-window .business-power.final-state,
#dropboxBusiness .business-window .business-security.final-state,
#dropboxBusiness .business-window .business-investment.final-state {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#dropboxBusiness .business-window .business-power {
  width: 200px;
  height: 182px;
  background-position: 0px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#dropboxBusiness .business-window .business-security {
  width: 200px;
  height: 182px;
  background-position: 0px 0px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#dropboxBusiness .business-window .business-security.animate {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#dropboxBusiness .business-window .business-investment {
  width: 200px;
  height: 182px;
  background-position: -200px 0px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#dropboxBusiness .business-window .business-investment.animate {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-moz-keyframes BUSINESS_TRANSITION_IN {
  60% {
    -webkit-transform: translate3d(2rem, 0, 0);
    -moz-transform: translate3d(2rem, 0, 0);
    -o-transform: translate3d(2rem, 0, 0);
    -ms-transform: translate3d(2rem, 0, 0);
    transform: translate3d(2rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-1rem, 0, 0);
    -moz-transform: translate3d(-1rem, 0, 0);
    -o-transform: translate3d(-1rem, 0, 0);
    -ms-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0.1rem, 0, 0);
    -moz-transform: translate3d(0.1rem, 0, 0);
    -o-transform: translate3d(0.1rem, 0, 0);
    -ms-transform: translate3d(0.1rem, 0, 0);
    transform: translate3d(0.1rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes BUSINESS_TRANSITION_IN {
  60% {
    -webkit-transform: translate3d(2rem, 0, 0);
    -moz-transform: translate3d(2rem, 0, 0);
    -o-transform: translate3d(2rem, 0, 0);
    -ms-transform: translate3d(2rem, 0, 0);
    transform: translate3d(2rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-1rem, 0, 0);
    -moz-transform: translate3d(-1rem, 0, 0);
    -o-transform: translate3d(-1rem, 0, 0);
    -ms-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0.1rem, 0, 0);
    -moz-transform: translate3d(0.1rem, 0, 0);
    -o-transform: translate3d(0.1rem, 0, 0);
    -ms-transform: translate3d(0.1rem, 0, 0);
    transform: translate3d(0.1rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes BUSINESS_TRANSITION_IN {
  60% {
    -webkit-transform: translate3d(2rem, 0, 0);
    -moz-transform: translate3d(2rem, 0, 0);
    -o-transform: translate3d(2rem, 0, 0);
    -ms-transform: translate3d(2rem, 0, 0);
    transform: translate3d(2rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-1rem, 0, 0);
    -moz-transform: translate3d(-1rem, 0, 0);
    -o-transform: translate3d(-1rem, 0, 0);
    -ms-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0.1rem, 0, 0);
    -moz-transform: translate3d(0.1rem, 0, 0);
    -o-transform: translate3d(0.1rem, 0, 0);
    -ms-transform: translate3d(0.1rem, 0, 0);
    transform: translate3d(0.1rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes BUSINESS_TRANSITION_IN {
  60% {
    -webkit-transform: translate3d(2rem, 0, 0);
    -moz-transform: translate3d(2rem, 0, 0);
    -o-transform: translate3d(2rem, 0, 0);
    -ms-transform: translate3d(2rem, 0, 0);
    transform: translate3d(2rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-1rem, 0, 0);
    -moz-transform: translate3d(-1rem, 0, 0);
    -o-transform: translate3d(-1rem, 0, 0);
    -ms-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
  }
  95% {
    -webkit-transform: translate3d(0.1rem, 0, 0);
    -moz-transform: translate3d(0.1rem, 0, 0);
    -o-transform: translate3d(0.1rem, 0, 0);
    -ms-transform: translate3d(0.1rem, 0, 0);
    transform: translate3d(0.1rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.control-active,
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-item:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-item:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-item:nth-of-type(3) {
  background-color: #8899a7;
}
.control-inactive,
.gallery .controls .control-item,
.gallery .control-operator:target ~ .controls .control-item {
  background-color: #007ee5;
}
.gallery.deactivated .item {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
.gallery.deactivated .controls .control-item {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
.gallery {
  position: relative;
  height: 300px;
}
.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #808080;
  z-index: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.gallery .item:first-of-type {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery .controls {
  position: absolute;
  bottom: -4rem;
  width: 100%;
  font-size: 4rem;
  text-align: center;
  z-index: 11;
}
.gallery .controls a {
  text-decoration: none;
  color: inherit;
}
.gallery .item {
  -webkit-animation: GALLERY_ANIMATION 21s infinite;
  -moz-animation: GALLERY_ANIMATION 21s infinite;
  -o-animation: GALLERY_ANIMATION 21s infinite;
  -ms-animation: GALLERY_ANIMATION 21s infinite;
  animation: GALLERY_ANIMATION 21s infinite;
}
.gallery .controls .control-item {
  -webkit-animation: CONTROL_ANIMATION 21s infinite;
  -moz-animation: CONTROL_ANIMATION 21s infinite;
  -o-animation: CONTROL_ANIMATION 21s infinite;
  -ms-animation: CONTROL_ANIMATION 21s infinite;
  animation: CONTROL_ANIMATION 21s infinite;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 0 1.2rem;
}
.gallery .control-operator {
  display: none;
}
.gallery .control-operator:target ~ .item {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
.gallery .control-operator:target ~ .controls .control-item {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.item:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.controls .control-item:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.item:nth-of-type(2) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  -ms-animation-delay: 7s;
  animation-delay: 7s;
}
.controls .control-item:nth-of-type(2) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  -ms-animation-delay: 7s;
  animation-delay: 7s;
}
.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.item:nth-of-type(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -o-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
}
.controls .control-item:nth-of-type(3) {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -o-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
}
@-moz-keyframes GALLERY_ANIMATION {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  7.69%, 30.77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  38.46%, 100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes GALLERY_ANIMATION {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  7.69%, 30.77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  38.46%, 100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes GALLERY_ANIMATION {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  7.69%, 30.77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  38.46%, 100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes GALLERY_ANIMATION {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  7.69%, 30.77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  38.46%, 100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes CONTROL_ANIMATION {
  0% {
    background-color: #007ee5;
  }
  7.69%, 30.77% {
    background-color: #8899a7;
  }
  38.46%, 100% {
    background-color: #007ee5;
  }
}
@-webkit-keyframes CONTROL_ANIMATION {
  0% {
    background-color: #007ee5;
  }
  7.69%, 30.77% {
    background-color: #8899a7;
  }
  38.46%, 100% {
    background-color: #007ee5;
  }
}
@-o-keyframes CONTROL_ANIMATION {
  0% {
    background-color: #007ee5;
  }
  7.69%, 30.77% {
    background-color: #8899a7;
  }
  38.46%, 100% {
    background-color: #007ee5;
  }
}
@keyframes CONTROL_ANIMATION {
  0% {
    background-color: #007ee5;
  }
  7.69%, 30.77% {
    background-color: #8899a7;
  }
  38.46%, 100% {
    background-color: #007ee5;
  }
}
#doForTeam {
  padding: 7rem 0;
  background: #fff;
}
#doForTeam .arrow {
  padding-top: 17rem;
}
#doForTeam .arrow .icn-arrow-left {
  width: 16px;
  height: 30px;
  background-position: -358px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#doForTeam .arrow .icn-arrow-left:hover {
  cursor: pointer;
}
#doForTeam .arrow .icn-arrow-right {
  width: 16px;
  height: 30px;
  background-position: -342px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
}
#doForTeam .arrow .icn-arrow-right:hover {
  cursor: pointer;
}
#doForTeam .gallery {
  margin: 4rem 0 8rem;
}
#doForTeam .gallery [class^="gallery"] {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#doForTeam .gallery .gallery1-img {
  background-image: url("img/gallery1.jpg");
}
#doForTeam .gallery .gallery2-img {
  background-image: url("img/gallery2.jpg");
}
#doForTeam .gallery .gallery3-img {
  background-image: url("img/gallery3.jpg");
}
#doForTeam .team-description {
  margin-bottom: 2rem;
}
.overlay,
#videoArea .video-overlay,
#videoArea .video-container,
#videoArea .video-fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#videoArea {
  background: #fff url("img/video-still.jpg") no-repeat center;
  height: 50rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#videoArea .headline-row {
  margin-top: 6.7rem;
}
#videoArea .play-btn {
  width: 106px;
  height: 106px;
  background-position: -200px -182px;
  -webkit-background-size: 400px 364px;
  -moz-background-size: 400px 364px;
  background-size: 400px 364px;
  margin-top: 6rem;
  z-index: 11;
}
#videoArea .play-btn:hover {
  cursor: pointer;
}
#videoArea .video-overlay {
  background: #000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#videoArea .video-overlay.video-playing {
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  pointer-events: initial;
}
#videoArea .video-container {
  display: none;
  pointer-events: none;
}
#videoArea .video-container.video-playing {
  display: block;
  pointer-events: initial;
}
#videoArea #dropboxVideo {
  margin-top: 7.5rem;
}
#videoArea .video-fallback .fallback-message {
  color: #fff;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-top: 6rem;
}
#videoArea .video-fallback .fallback-message a {
  color: #007ee5;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  #videoArea {
    background: #fff url("img/video-still@2x.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
#teamSync {
  padding: 7rem 0;
  border-bottom: 1px solid #8899a7;
  background: #fff;
}
#teamSync .try-it-now {
  margin: 2rem 0 4rem;
}
#teamSync .buy-it-now {
  text-decoration: none;
  display: block;
}
@media all and (max-width: 899px) {
  button.btn-large,
  .btn.btn-large {
    padding: 1.5rem 3rem;
    font-size: 2rem;
  }
  body {
    background-color: #8899a7;
  }
  .stack-full-width .row {
    width: 100%;
  }
  .stack-full-width .row .col {
    margin-right: 2%;
  }
  .stack-full-width .row .col:first-of-type {
    margin-left: 2%;
  }
  #heroArea {
    padding: 11rem 0 7rem;
  }
  #heroArea.stack-full-width .row .col.six {
    width: 90%;
    margin: 0 5%;
  }
  #siteNav {
    z-index: 0;
    padding-left: 2rem;
    width: 100%;
  }
  #siteNav .logo {
    margin: 1rem 0;
  }
  #siteNav li {
    margin: 2rem 0;
  }
  .menu-container {
    display: block;
    pointer-events: initial;
  }
  .menu-container .menu-icon {
    width: 25px;
    height: 21px;
    background-position: -374px -182px;
    -webkit-background-size: 400px 364px;
    -moz-background-size: 400px 364px;
    background-size: 400px 364px;
  }
  #dropboxBusiness {
    padding: 3rem 0 2rem;
  }
  #dropboxBusiness.stack-full-width .row .col.four {
    width: 90%;
    margin: 5% 5% 0;
  }
  #dropboxBusiness h1 {
    margin-bottom: 7rem;
  }
  #dropboxBusiness .why-business-description {
    padding-bottom: 2rem;
    border-bottom: 1px solid #f5f5f5;
  }
  #dropboxBusiness .why-business-description:last-of-type {
    border-bottom: none;
  }
  #dropboxBusiness .business-window .business-power,
  #dropboxBusiness .business-window .business-security,
  #dropboxBusiness .business-window .business-investment {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-filter: none;
    filter: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  #dropboxBusiness .business-window .business-power.animate,
  #dropboxBusiness .business-window .business-security.animate,
  #dropboxBusiness .business-window .business-investment.animate {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  #videoArea {
    height: 45rem;
  }
  #videoArea.stack-full-width .row .col.four {
    width: 90%;
    margin: 5%;
  }
  #videoArea .headline-row {
    margin-top: 3rem;
  }
  #videoArea .play-btn {
    margin: 0;
  }
  #teamSync {
    padding: 4rem 0;
  }
  #teamSync.stack-full-width .row .col.twelve {
    width: 90%;
    margin: 0 5%;
  }
  #teamSync .try-it-now {
    margin: 2rem 0 4rem;
  }
  #footer {
    padding: 2rem 0;
    background: #fff;
  }
  #footer.stack-full-width .row .col.two {
    width: 30%;
    margin: 5% 5% 0;
  }
  #footer .footer-nav li {
    font-size: 1.8rem;
    margin: 2rem;
  }
  #footer .footer-nav .language-column {
    position: absolute;
    padding-top: 0;
    font-size: 1.8rem;
    top: 1.5rem;
    right: 0;
  }
}
@media all and (max-width: 685px) {
  #doForTeam {
    padding: 2rem 0;
  }
  #doForTeam.stack-full-width .row .col.six {
    width: 90%;
    margin: 5% 5% 0;
  }
  #doForTeam .gallery {
    margin: 0 0 6rem;
  }
  #doForTeam .arrow {
    display: none;
  }
  #footer {
    padding: 2rem 0;
    background: #fff;
  }
  #footer.stack-full-width .row .col.two {
    width: 90%;
    margin: 5% 5% 0;
  }
  #footer .footer-nav {
    text-align: center;
  }
  #footer .footer-nav li {
    font-size: 2.2rem;
    margin: 2.4rem;
  }
  #footer .footer-nav .language-column {
    position: relative;
    font-size: 2.2rem;
    text-align: center;
    padding: 0 0 2rem 1rem;
  }
}
