//==============================================================
//   LE GRID CLASSES
//==============================================================

//   Grid Settings
//--------------------------------------------------------------
$grid-block      = 5.5rem;
$grid-margin     = 3rem;

// 12 block grid
$row-width = ($grid-block * 12) + ($grid-margin * 13);

//   Grid Rules: Row Containers
//--------------------------------------------------------------
.stack-full-width {
  position: relative;
  width: 100%;

  .row {
    position: relative;
    vertical-align: top;
    width: $row-width;
    margin: 0 auto;
    padding: 0;
    font-size: 0;

    // clear self
    &:after {
      display: block;
      content: "\0020";
      clear: both;
      height: 0;
      visibility: hidden;
    }
  }
}

//   Grid Rules: Grid Blocks
//--------------------------------------------------------------
.row {
  .col {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: $font-size;
    margin-right: $grid-margin;
    vertical-align: top;

    &:first-of-type {
      margin-left: $grid-margin;
    }

    &.one {
      width: $grid-block;
    }
    &.two {
      width: (($grid-block) * 2) + $grid-margin;
    }
    &.three {
      width: (($grid-block) * 3) + (($grid-margin) * 2);
    }
    &.four {
      width: (($grid-block) * 4) + (($grid-margin) * 3);
    }
    &.five {
      width: (($grid-block) * 5) + (($grid-margin) * 4);
    }
    &.six {
      width: (($grid-block) * 6) + (($grid-margin) * 5);
    }
    &.seven {
      width: (($grid-block) * 7) + (($grid-margin) * 6);
    }
    &.eight {
      width: (($grid-block) * 8) + (($grid-margin) * 7);
    }
    &.nine {
      width: (($grid-block) * 9) + (($grid-margin) * 8);
    }
    &.ten {
      width: (($grid-block) * 10) + (($grid-margin) * 9);
    }
    &.eleven {
      width: (($grid-block) * 11) + (($grid-margin) * 10);
    }
    &.twelve {
      width: (($grid-block) * 12) + (($grid-margin) * 11);
    }
  }
}

//==============================================================
//   MEDIA QUERIES 900px to 1050px
//==============================================================

@media all and (max-width: 1049px) and (min-width: 900px) {
  .stack-full-width {
    .row {
      width: 90rem;
      .col {
        &.one {
          width: ($grid-block) * .75;
        }
        &.two {
          width: ((($grid-block) * 2) + $grid-margin) * .75;
        }
        &.three {
          width: ((($grid-block) * 3) + (($grid-margin) * 2)) * .75;
        }
        &.four {
          width: ((($grid-block) * 4) + (($grid-margin) * 3)) * .75;
        }
        &.five {
          width: ((($grid-block) * 5) + (($grid-margin) * 4)) * .75;
        }
        &.six {
          width: ((($grid-block) * 6) + (($grid-margin) * 5)) * .75;
        }
        &.seven {
          width: ((($grid-block) * 7) + (($grid-margin) * 6)) * .75;
        }
        &.eight {
          width: ((($grid-block) * 8) + (($grid-margin) * 7)) * .75;
        }
        &.nine {
          width: ((($grid-block) * 9) + (($grid-margin) * 8)) * .75;
        }
        &.ten {
          width: ((($grid-block) * 10) + (($grid-margin) * 9)) * .75;
        }
        &.eleven {
          width: ((($grid-block) * 11) + (($grid-margin) * 10)) * .75;
        }
        &.twelve {
          width: ((($grid-block) * 12) + (($grid-margin) * 11)) * .75;
        }
      }
    }
  }

}
