//==============================================================
//   IMPORTS / INDIVIDUAL COMPONENTS AND PAGES
//==============================================================

// http://meyerweb.com/eric/tools/css/reset/ 
@import 'reset';

// nib - http://visionmedia.github.io/nib/
@import 'nib';

// spritesheet (generated in app.js) https://github.com/richardbutler/node-spritesheet
@import 'sprites/sprites';

// variables
@import 'variables';

// extension classes
@import 'extends';

// animations
@import 'animations';

// headers and paragraph
@import 'text';

// buttons
@import 'buttons';

// grid
@import 'grid';

//==============================================================
//   DEFINE SITEWIDE/SHARED STYLES BELOW
//==============================================================

*, *:before, *:after {
  box-sizing: border-box;
  border-radius: 0;
  font-size: 16px;
  font-size: 1rem;
}

html {
  font-size: 62.5%; /* 10px browser default */
}

.center {
  text-align: center;
}

.box {
  display: inline-block;
}
