//==============================================================
//   IMPORTS / INDIVIDUAL COMPONENTS AND PAGES
//==============================================================

// http://meyerweb.com/eric/tools/css/reset/ 
@import 'reset';

// nib - http://visionmedia.github.io/nib/
@import 'nib';

// variables
@import 'variables';

// extension classes
@import 'extends';

// grid
@import 'grid';

//==============================================================
//   DEFINE SITEWIDE/SHARED STYLES BELOW
//==============================================================

*, *:before, *:after {
  box-sizing: border-box;
  border-radius: 0;
  font-size: 16px;
  font-size: 1rem;
}

html {
  font-size: 62.5%; /* 10px browser default */
}
