//==============================================================
//   MEDIA QUERIES 0px to 899px
//==============================================================

@media all and (max-width: 899px) {

  // BUTTONS
  // ----------------------------------
  button, .btn {
    &.btn-large {
      padding: 1.5rem 3rem;
      font-size: 2rem;
    }
  }

  // GRID
  // ----------------------------------
  body { background-color: $db-slate; }
  .stack-full-width {
    .row {
      width: 100%;
      .col {
        margin-right: 2%;
        &:first-of-type {
          margin-left: 2%;
        }
      }
    }
  }

  // HERO SPOT
  // ----------------------------------
  #heroArea {
    padding: 11rem 0 7rem;
    &.stack-full-width {
      .row {
        .col.six {
          width: 90%;
          margin: 0 5%
        }
      }
    }
  }

  // SITE NAVIGATION
  // ----------------------------------
  #siteNav {
    z-index: 0;
    padding-left: 2rem;
    width: 100%;

    .logo {
      margin: 1rem 0;
    }

    li {
      margin: 2rem 0;
    }
  }

  // menu icon
  .menu-container {
    display: block;
    pointer-events: initial;
    .menu-icon {
      sprite('menu-icon');
    }
  }

  // BUSINESS TRIO
  // ----------------------------------
  #dropboxBusiness {
    padding: 3rem 0 2rem;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.four {
          width: 90%;
          margin: 5% 5% 0;
        }
      }
    }

    h1 {
      margin-bottom: 7rem;
    }

    .why-business-description {
      padding-bottom: 2rem;
      border-bottom: 1px solid #f5f5f5;

      &:last-of-type {
        border-bottom: none;
      }
    }

    // Animation for mobile devices
    .business-window {
      .business-power,
      .business-security,
      .business-investment {
        transform: none;
        transition: opacity 1s;
        -webkit-filter: none;
        filter: none;
        opacity: 0;
        &.animate {
          animation: none;
          opacity: 1;
        }
      }

    }
  }

  // VIDEO AREA
  // ----------------------------------
  #videoArea {
    height: 45rem;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.four {
          width: 90%;
          margin: 5%;
        }
      }
    }

    .headline-row {
      margin-top: 3rem;
    }

    .play-btn {
      margin: 0;
    }
  }

  // TEAM IN SYNC
  // ----------------------------------
  #teamSync {
    padding: 4rem 0;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.twelve {
          width: 90%;
          margin: 0 5%;
        }
      }
    }

    .try-it-now {
      margin: 2rem 0 4rem; 
    }
  }

  // FOOTER
  // ----------------------------------
  #footer {
    padding: 2rem 0;
    background: $white;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.two {
          width: 30%;
          margin: 5% 5% 0;
        }
      }
    }

    .footer-nav {
      li {
        font-size: 1.8rem;
        margin: 2rem;
      }

      .language-column {
        position: absolute;
        padding-top: 0;
        font-size: 1.8rem;
        top: 1.5rem;
        right: 0;
      }
    }
  }

}

//==============================================================
//   MEDIA QUERIES 0px to 685px
//==============================================================

@media all and (max-width: 685px) {

  // TEAM / GALLERY
  // ----------------------------------
  #doForTeam {
    padding: 2rem 0;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.six {
          width: 90%;
          margin: 5% 5% 0;
        }
      }
    }

    // gallery overrides
    .gallery {
      margin: 0 0 6rem;
    }

    .arrow {
      display: none;
    }
  }

  // FOOTER
  // ----------------------------------
  #footer {
    padding: 2rem 0;
    background: $white;

    // grid overrides
    &.stack-full-width {
      .row {
        .col.two {
          width: 90%;
          margin: 5% 5% 0;
        }
      }
    }

    .footer-nav {
      text-align: center;

      li {
        font-size: 2.2rem;
        margin: 2.4rem;
      }

      .language-column {
        position: relative;
        font-size: 2.2rem;
        text-align: center;
        padding: 0 0 2rem 1rem;
      }
    }
  }

}