//==============================================================
//   VARIABLES
//==============================================================

//   Fonts
//--------------------------------------------------------------
$font-family       = 'Open Sans', sans-serif;
$font-size         = 1.6rem;

//   Colors
//--------------------------------------------------------------
$db-dark           = #4c545a;
$db-slate          = #8899a7;
$db-blue           = #007ee5;
$db-dark-blue      = #0b56bc;
$white             = #fff;

//   Grid
//--------------------------------------------------------------
//   grid settings can be found in grid.styl

//   General
//--------------------------------------------------------------
$spacing           = 1rem;