//==============================================================
//   NAVIGATION
//==============================================================

#siteNav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  .logo {
    margin: 5rem 0 2.5rem;
    sprite('white_dropbox_glyph-2x');
  }

  li {
    margin: 1.5rem 0;
    a {
      color: $white;
      text-decoration: none;

      &.active {
        font-weight: 700; // Open Sans bold
      }
    }
  }
}

//==============================================================
//   ANIMATIONS
//==============================================================


//==============================================================
//   MEDIA QUERIES: RETINA
//==============================================================

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {


}

//==============================================================
//   MEDIA QUERIES: WINDOW
//==============================================================