//==============================================================
//   NAVIGATION
//==============================================================

#siteNav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  .logo {
    margin: 5rem 0 2.5rem;
    sprite('white_dropbox_glyph-2x');
  }

  li {
    margin: 1.5rem 0;
    a {
      color: $white;
      text-decoration: none;

      &.active {
        @extend .font-bold;
      }
    }
  }
}

.menu-container {
  display: none;
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 10;
  font-size: 1.6rem;
  
  .menu-label {
    @extend .font-bold;
    position: absolute;
    top: .2rem;
    left: 3.5rem;
  }
}

//==============================================================
//   ANIMATIONS
//==============================================================

.site-wrap {
  transition: transform .3s ease-in-out;
  transform: translate3d(0, 0, 0);
  &.opened { transform: translate3d(250px, 0, 0); }
}


//==============================================================
//   MEDIA QUERIES: RETINA
//==============================================================

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dppx) {


}

//==============================================================
//   MEDIA QUERIES: WINDOW
//==============================================================
@media all and (max-width: 899px) {

  #siteNav {
    z-index: 0;
    padding-left: 2rem;
    width: 100%;

    .logo {
      margin: 1rem 0;
    }

    li {
      margin: 2rem 0;
    }
  }

  // menu icon
  .menu-container {
    display: block;
    pointer-events: initial;
    .menu-icon {
      sprite('menu-icon');
    }
  }

}
