//==============================================================
//   WHY DROPBOX FOR BUSINESS?
//==============================================================

// begin classes for component
#dropboxBusiness {
  padding: 7.8rem 0 5.9rem;
  background: $white;

  // three images
  .business-window {
    display: inline-block;
    overflow: hidden;
    height: 20rem;
    width: 100%;

    // Shared
    .business-power,
    .business-security,
    .business-investment {
      // start state for trio image
      transform: translate3d(-22rem,0,0) scale(.5);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      opacity: 0;

      &.animate {
        animation: BUSINESS_TRANSITION_IN .55s 1 forwards;
      }

      &.final-state {
        transform: translate3d(0,0,0) scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
      }
    }

    // The Power to do More
    .business-power {
      sprite('dropbox-for-business-why-devices-2x');
    }

    // Security Inspires Confidence
    .business-security {
      sprite('dropbox-for-business-why-watch-2x');
      &.animate {
        animation-delay: .25s;
      }
    }

    // A Smarter Investment
    .business-investment {
      sprite('dropbox-for-business-why-key-2x');
      &.animate {
        animation-delay: .5s;
      }
    }
  }

  .why-business-description {
    @extend .open-large-grey;
  }

}

//==============================================================
//   ANIMATIONS
//==============================================================

@keyframes BUSINESS_TRANSITION_IN {
  60% {
    transform: translate3d(2rem, 0, 0);
  }

  75% {
    transform: translate3d(-1rem, 0, 0);
  }

  95% {
    transform: translate3d(.1rem, 0, 0);
  }

  100% {
    transform: translate3d(0,0,0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
