//==============================================================
//   WHY DROPBOX FOR BUSINESS?
//==============================================================

// extend class for start state of each image
.business-image-start {
  transform: translate3d(-22rem,0,0) scale(.5);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
}

#dropboxBusiness {
  padding: 7.8rem 0 5.9rem;

  // three images
  .business-window {
    display: inline-block;
    overflow: hidden;
    height: 20rem;
    width: 100%;

    .business-power {
      sprite('dropbox-for-business-why-devices-2x');
      @extend .business-image-start;
      &.animate {
        // name, duration, delay, iterations, fill-mode.
        animation: BUSINESS_TRANSITION_IN .55s 0s 1 forwards;
      }
    }

    .business-security {
      sprite('dropbox-for-business-why-watch-2x');
      @extend .business-image-start;
      &.animate {
        animation: BUSINESS_TRANSITION_IN .55s .25s 1 forwards;
      }
    }

    .business-investment {
      sprite('dropbox-for-business-why-key-2x');
      @extend .business-image-start;
      &.animate {
        animation: BUSINESS_TRANSITION_IN .55s .5s 1 forwards;
      }
    }
  }

  .why-business-desciption {
    @extend .open-large-grey;
  }

}

//==============================================================
//   ANIMATIONS
//==============================================================

@keyframes BUSINESS_TRANSITION_IN {
  0% {
    @extend .business-image-start;
  }

  60% {
    transform: translate3d(2rem, 0, 0);
  }

  75% {
    transform: translate3d(-1rem, 0, 0);
  }

  95% {
    transform: translate3d(.1rem, 0, 0);
  }

  100% {
    transform: translate3d(0,0,0) scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

//==============================================================
//   MEDIA QUERIES: RETINA
//==============================================================

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dppx) {


}

//==============================================================
//   MEDIA QUERIES: WINDOW
//==============================================================
@media all and (max-width: 899px) {


}